.texture-modal {
    padding: 15px;
}

.how-to-apply__content-container{
    height: 310px;
    /* overflow-y: auto; */
}

.how-to-apply-modal__title {
    color: #0072ce;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 10px;
}

.how-to-apply-image{
    /* margin-bottom: 10px; */
}
