.modal-container {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
}

.modal {
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  margin-top: auto;
  margin-bottom: auto;
}

.modal__close{
  background-color: #f2f2f2;
  color: #0072ce;
  font-weight: 700;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  width: 90%;
  height: 38px;
  cursor: pointer;
  margin: auto;
}

.modal.modal-review {
  width: 340px;
  height: 430px;
}

.modal.modal-ingredients {
  width: 340px;
  height: 430px;
}

.modal.modal-ceramides {
  width: 340px;
  height: 430px;
}

.modal.modal-efficacy {
  width: 340px;
  height: 430px;
}

.modal.modal-how-to-apply {
  width: 340px;
  height: 430px;
}