<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nexus_group" value="https://wsf-nexus.e-loreal.com/repository/nuget-group/" />
    <add key="nexus_nuget_group" value="https://wsf-ci.e-loreal.com/nexus/repository/nuget-group/" />
  </packageSources>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSourceCredentials>
    <nexus_group>
      <add key="Username" value="readonly" />
      <add key="ClearTextPassword" value="0Puof1Lmb9DErcHO9Zjv" />
    </nexus_group>
    <nexus_nuget_group>
      <add key="Username" value="readonly" />
      <add key="ClearTextPassword" value="0ZEhByhdHQgUVpVV5oo0" />
    </nexus_nuget_group>
  </packageSourceCredentials>

  <disabledPackageSources>

    <add key="nexus_group" value="true" />

    <add key="nexus_nuget_group" value="true" />

  </disabledPackageSources>

</configuration>