html,
body {
  font-family: 'DIN-Pro', sans-serif;
  box-sizing: border-box;
  height: 100%;
}

select {
  display: none;
}

.logo{
  width: 300px;
  margin-bottom:70px;
}

.product-image{
  width: 250px;
  margin-bottom: 20px;
}

.product-name{
  font-size: 24px;
  line-height: 0;
  color: #003057;
}

.variant{
  font-size: 14px;
  font-weight: bold;
  line-height: 0;
  text-transform: uppercase;
  color: #003057;
}

.select-label{
  color: #003057;
  font-size: 16px;
}


.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.data-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  padding-top: 10px;
}

.submit {
  width: 200px;
  border: none;
  border-radius: 0px;
  padding: 16px 0px;
  background-color: #0072CE;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.index-btn{
  width: 300px;
  height: 60px;
  border: 0;
  border-radius: 0px;
  background: #0072Ce;
  color: white;
  margin: 10px;
  font-size: 14px;
  font-weight: 700;
}

.button-ctn{
  display: flex;
  flex-direction: column;
}
