.texture-modal {
    padding: 15px;
}

.how-to-apply__content-container{
    height: 310px;
    overflow-y: auto;
}

.how-to-apply-modal__title {
    color: #0072ce;
    font-family: DINPro-medium;
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 10px;
}

.how-to-apply-image{
    /* margin-bottom: 10px; */
}

.how-to-apply-modal__body {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #003057;
}

.how-to-apply-modal__steps{
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    font-family: DINPro-medium;
    line-height: 18px;
    color: #003057;
}

.how-to-apply-modal__list{
    list-style: decimal;
    padding-left: 20px;
    color: #0072ce;
    font-family: DINPro-medium;
}