@font-face {
  font-family: 'DINPro';
  src: url('/product/fonts/DINPro-Regular.ttf') format('truetype');
  /* Safari og iOS, Chrome, Android, Firefox and Opera except Opera Mini  */
}

@font-face {
  font-family: 'DINPro-medium';
  src: url('/product/fonts/DINPro-Medium.ttf') format('truetype');
  /* Safari og iOS, Chrome, Android, Firefox and Opera except Opera Mini  */
}

@font-face {
  font-family: 'DINPro-bold';
  src: url('/product/fonts/DINPro-bold.ttf') format('truetype');
  /* Safari og iOS, Chrome, Android, Firefox and Opera except Opera Mini  */
}

@font-face {
  font-family: 'DINPro-condBold';
  src: url('/product/fonts/DINPro-condBold.ttf') format('truetype');
  /* Safari og iOS, Chrome, Android, Firefox and Opera except Opera Mini  */
}

@font-face {
  font-family: 'DINPro-Light';
   src: url('/product/fonts/DINPro-Light.ttf') format('truetype');
  /* Safari og iOS, Chrome, Android, Firefox and Opera except Opera Mini  */
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: DINPro;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-weight: 300; */
}

.hide {
  display: none !important;
}

.ui-container {
  width: 100%;
  height: 100%;
  position: absolute;
}