<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    CeraVe AR app
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/root.css">
  <link rel="stylesheet" href="/common/lang-select/index.css">
  <link rel="stylesheet" href="/common/lang-select/nice-select.css">
</head>

<body>
  <div class="container">
    <div class="data-container">
      <img class="logo" src="/common/images/cerave-logo.png">
      <img class="product-image" src="/products/hydrating-cleanser/8oz/en/images/product-image.png">
      <p class="product-name">Hydrating Cleanser</p>
      <p class="variant">8Oz 236ml</p>

      <!-- <p class="product-name"> data.productData.variant.name</p>
      <p class="variant"> data.productData.variant.size</p> -->
      <!-- <img class="product-image" src=" data.productData.variant.productImageURL"> -->

      <div class="select-container">
        <p class="select-label" >Select Language <%= product %>
        </p>
        <select>
        </select>
      </div>
      <div class="submit-button">
        <button class="submit" onclick="location.href = '/product'">Start Experience</button>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="/common/lang-select/jquery.nice-select.min.js"></script>
  <script src="/common/lang-select/index.js"></script>
</body>

</html>