<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= product %>
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/nice-select.css">
</head>

<body>
  <div class="container">
    <div class="data-container">
      <div class="select-container">
        <p>Please choose your preferred language</p>
        <select>
        </select>
      </div>
      <div class="submit-button">
        <button class="submit">Submit</button>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="/jquery.nice-select.min.js"></script>
  <script src="/index.js"></script>
</body>

</html>