<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    CeraVe AR app
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/root.css">
  <link rel="stylesheet" href="/common/lang-select/index.css">
  <link rel="stylesheet" href="/common/lang-select/nice-select.css">
</head>

<body>
  <div class="container">
    <div class="data-container">
      <img class="logo" src="/common/images/cerave-logo.png">
      <div class="button-ctn">
        <button class='index-btn' onclick="window.location.href='/product?lang=en&name=hydrating-cleanser&size=8oz';">Hydrating Cleanser | 8oz | EN</button>
        <button class='index-btn' onclick="window.location.href='/product?lang=en&name=foaming-cleanser&size=8oz';">Foaming Cleanser | 8oz | EN</button>
        <button class='index-btn' onclick="window.location.href='/product?lang=en&name=moisturizing-lotion&size=8oz';">Moisturizing Lotion | 8oz | EN</button>
        <button class='index-btn' onclick="window.location.href='/product?lang=en&name=moisturizing-cream&size=12oz';">Moisturizing Cream | 12oz | EN</button>
        <button class='index-btn' onclick="window.location.href='/product?lang=en&name=cream-to-foam-cleanser&size=8oz';">Cream-to-Foam Cleanser | 8oz | EN</button>
      </div> 
    </div> 
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="/common/lang-select/jquery.nice-select.min.js"></script>
  <script src="/common/lang-select/index.js"></script>
</body>

</html>