<div id="our-science-2" class="our-science-modal hide">
    <p class="ceramides-modal__title"><%= languageText.ceramidesHead %></p>
    <div class="content-container">
        <% ceramides.forEach(function(point) { %>
            <p class="ceramides-modal__body1"><%= point.title%></p>
            <p class="ceramides-modal__body2"><%= point.description%></p>
        <% }); %>  
    </div>
</div>