<div id="our-science-3" class="our-science-modal hide">
    <p class="efficacy-modal__title"><%= languageText.efficacyHead %></p>
    <div class="efficacy__content-container">
        <img class="efficacy-image" src="<%= efficacy.url%>" >
    </div>
</div>