<div id="texture-2" class="texture-modal hide">
    <p class="how-to-apply-modal__title"><%= howToApply.head %></p>
    <div class="how-to-apply__content-container">
        <iframe width="310" height="310" src="<%= howToApply.url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>