<div id="our-science-1" class="our-science-modal hide">
    <p class="ingredients-modal__title"><%= languageText.ingredientsHead %></p>
    <div class="content-container">
        <div class="ingredients-modal__list">
            <%= ingredients.list %>
          </div>
          <div class="ingredients-modal__disclaimer">
              <%= ingredients.disclaimer %>
        </div>
    </div>   
</div>