<div id="ceramides-id" class="ceramides-modal hide">
    <p class="ceramides-modal__title">Science of Ceramides</p>
    <div class="content-container">
        <% ceramides.forEach(function(point) { %>
            <p class="ceramides-modal__body1"><%= point.title%></p>
            <p class="ceramides-modal__body2"><%= point.description%></p>
        <% }); %>  
    </div>
    
    <div class="ceramides-modal__close">
      <%= languageText.closeButtonText %>
    </div>
</div>