<div class="efficacy-modal">
    <p class="efficacy-modal__title"><%= efficacy.head %></p>
    <div class="efficacy__content-container">
        <img class="efficacy-image" src="<%= efficacy.url%>" >
    </div>
    
    <div class="efficacy-modal__close">
      <%= languageText.closeButtonText %>
    </div>
</div>