<div id="ingredients-id" class="ingredients-modal hide">
    <p class="ingredients-modal__title"><%= ingredients.head %></p>
    <div class="content-container">
        <div class="ingredients-modal__list">
            <%= ingredients.list %>
          </div>
          <div class="ingredients-modal__disclaimer">
              <%= ingredients.disclaimer %>
        </div>
    </div>
    
    <div class="ingredients-modal__close">
      <%= languageText.closeButtonText %>
    </div>
    
</div>